# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
# .git/info/exclude
**/pull_request_template.md
**/issue_template.md
**/target/
**/bin/
#Eclipse
**/.metadata
**/.project
**/.settings/
**/.classpath
**/.recommenders/**
Servers/
#IDEA
**/.idea/
**/*.iml
#AngularJS
**/.tern-project
**/.DS_Store
Add Comment

Project2/Cinema/src/main/java/com/cinema/main/TestMain.java
Project2/Cinema/src/main/webapp/index.html
Project2/Servers/Tomcat v8.0 Server at localhost-config/catalina.policy
Project2/Servers/Tomcat v8.0 Server at localhost-config/catalina.properties
Project2/Servers/Tomcat v8.0 Server at localhost-config/server.xml
Project2/Servers/Tomcat v8.0 Server at localhost-config/server.xml
